mixin badge(skill, icon, level)
  figure.skill-badge.invis
    .skill-badge__icon
      img(src=icon)
      .skill-badge__header
        h3= skill
      div(class="skill-badge__level--" + level)
        each _ in Array(level)
          .skill-badge__star
            i.fas.fa-star
              
mixin skill(name, level)
  - var width = "width:" + level + "%;"
  figure.skill
    .skill__name
      h3= name
    .skill__level
      .skill__level__bar(style=width)
        span #{level}%

#about.main--about
  .container--default.content
    section.about__profile
      .avatar(title="Michael Li")
        img(src="/assets/profile.jpg", alt="Michael Li")
      .intro
        h1.invis About
        p Hi, I'm Mike.
        p I'm a full-stack developer, and I love to connect people and computers by creating seamless user experiences.
        p Let's make something cool.
    section.about__skills
      h2.hidden My Toolbox
      +skill('HTML', 80)
      +skill('CSS', 80)
      +skill('JavaScript', 90)
      +skill('Node.js', 90)
      +skill('React', 70)
      +skill('Ruby/Rails', 60)
      +skill('SQL', 60)
      +skill('Java', 40)
      +skill('Linux', 70)
        
