mixin filter(name, tag)
  li.filter(data-tag=tag)= name

mixin project(name, url, tags)
  - var tagStr = tags.join(' ')
  - var dataId = name.replace(' ', '_').toLowerCase()
  - var src = `assets/projects/${dataId}.jpg`
  a.project(id=dataId href=url title=name target='_blank' data-tags=tagStr)
    img.project(src=src alt=name)
    .overlay
      h2= name
  
mixin skill(name, level)
  - var gradient = ['#607D8B', '#5382A0', '#4787B5', '#3A8CC9', '#2E91DE', '#2196F3', '#337FE4', '#4468D5', '#5651C6', '#673AB7']
  - var width = "width:" + level + "%;"
  - var bg = "background-color:" + gradient[(level / 10) - 1] + ";"
  - var style = width + bg
  li.skill
    .skill__name
      h3= name
    figure.skill__level
      .bar(data-level=level style=style)
        span #{level}%


section#portfolio.portfolio
  .portfolio__content
    .portfolio__sections
      h1.portfolio__header.selected(data-section='projects') Portfolio
      h2.portfolio__header(data-section='skills') Proficiency
      .selector.selector__projects
    .portfolio__view
      #projects.portfolio__projects
        ul.portfolio__filters
          li.filter.selected(data-tag='all') All
          +filter('React', 'react')
          +filter('Ruby/Rails', 'rails')
          +filter('Node/Express', 'node')
          +filter('SQL', 'sql')
          +filter('MongoDB', 'mongo')
          +filter('Firebase', 'firebase')
          +filter('API', 'api')
          +filter('D3', 'd3')
          +filter('socket.io', 'socket')
          +filter('UI/Design', 'uides')
          +filter('Tools', 'tool')
        .portfolio__list
          +project('Llama', 'http://llamareads.me/', ['react', 'firebase', 'uides'])
          +project('PopUp Shop', 'http://baguette-popup-shop.herokuapp.com/', ['rails', 'sql', 'uides'])
          +project('Fruitbowl', 'https://fruitbowl.glitch.me/', ['node', 'mongo', 'uides', 'socket'])
          +project('Phrase Generator', 'https://sunny-space.glitch.me/', ['node', 'api'])
          +project('Pomodoro', 'https://codepen.io/mykolodon/full/ajBBLV', ['react', 'uides'])
          +project('Drum Pad', 'https://codepen.io/mykolodon/full/wxBwVV', ['react'])
          +project('Mister Cocktail', 'https://mr-cocktail-mcli830.herokuapp.com/', ['rails', 'sql', 'uides'])
          +project('Datamuse Interface', 'https://codepen.io/mykolodon/full/vMVEwp', ['api', 'tool'])
          +project('Calculator', 'https://codepen.io/mykolodon/full/yqevJv', ['react', 'tool'])
          +project('Weather App', 'https://codepen.io/mykolodon/full/pVQYqv', ['uides', 'api'])
          //- +project('Color Blocks', 'https://codepen.io/mykolodon/full/MXxEyq')
          +project('D3 Choropleth', 'https://codepen.io/mykolodon/full/bjammp', ['d3'])
          +project('D3 Treemap', 'https://codepen.io/mykolodon/full/BPVOVp', ['d3'])
          +project('Goji Devkit', 'https://www.npmjs.com/package/goji-devkit', ['node', 'tool'])
      #skills.portfolio__skills.hide
        ul.skills__list
          +skill('HTML', 80)
          +skill('CSS', 80)
          +skill('JavaScript', 90)
          +skill('Node.js', 90)
          +skill('React', 70)
          +skill('Ruby/Rails', 60)
          +skill('SQL', 60)
          +skill('Java', 40)
          +skill('Linux', 70)
  .overlay
