mixin section-header(display, section, addclass)
  h1.portfolio__header(class=addclass data-section=section)
    .overlay--base
    .overlay--select
    .span= display

mixin filter(name, tag, addclass)
  li.filter(class=addclass data-tag=tag)
    .overlay
    span= name

mixin project(name, url, tags)
  - var tagStr = tags.join(' ')
  - var dataId = name.replace(' ', '_').toLowerCase()
  - var src = `assets/projects/${dataId}.jpg`
  a.project(id=dataId href=url title=name target='_blank' data-tags=tagStr)
    img.project(src=src alt=name)
    .overlay
      h2= name
      
-
  var gradient = {
    blue: ['#2196F3','#298CEC','#3182E6','#3877DF','#406DD8','#4863D2','#5059CB','#574EC4','#5F44BE','#673AB7'],
    green: ['#4CAF50','#44A647','#3B9D3E','#339335','#2A8A2C','#228124','#19781B','#116E12','#086509','#005C00'],
    red: ['#FF5722','#EE4D1E','#DD441A','#CC3A17','#BB3013','#A9270F','#981D0B','#871308','#760A04','#650000']
  }
  
mixin prof(name, level, color)
  - var width = "width:" + level + "%;"
  - var bg = `background:linear-gradient(90deg, ${gradient[color][0]}, ${gradient[color][(level / 10) - 1]});`
  - var barStyle = width + bg
  - var valStyle = `color:${gradient[color][0]};;`
  li.prof
    .prof__name
      h3= name
      span(style=valStyle)= level
    figure.prof__level
      .bar(data-level=level style=barStyle)
        if level > 10
          span= level

-
  var projects = [
    { name: 'Llama',
      url: 'http://llamareads.me/',
      tags: ['react', 'firebase', 'uiux'],
      text: `Keep track of all the memorable books you've read and share them with friends. Follow your book's journey as it is shared to see how you've impacted your friends and community. As my final project created as a student at Le Wagon coding bootcamp, this was prepared in two weeks with two other students and best showcases my interest in simple yet effective UI/UX design. Effects and visuals all coded from scratch!`
    },
    { name: 'PopUp Shop',
      url: 'http://baguette-popup-shop.herokuapp.com/',
      tags: ['rails', 'sql', 'uiux'],
      text: `An AirBnb-style digital marketplace aimed to connect artists to local store-owners that have the space and means to sell the artist's work. This was created as a student at Le Wagon coding bootcamp in one week, using a sleek modern style and a map API.`
    },
    { name: 'Fruitbowl',
      url: 'https://fruitbowl.glitch.me/',
      tags: ['node', 'mongo', 'uiux', 'socket'],
      text: 'A simple and light-hearted instant messaging app. This was a personal study project exploring socket.io functionality and the depth of UX design needed for a good messaging app experience.'
    },
    { name: 'Phrase Generator',
      url: 'https://sunny-space.glitch.me/',
      tags: ['node', 'api'],
      text: 'Inspired by URL name generation techniques used by sites like Glitch and gfycat, I created this tool to imitate their algorithms using the Datamuse API. Quickly generate your own fun and unique word combinations.'
    },
    { name: 'Pomodoro',
      url: 'https://codepen.io/mykolodon/full/ajBBLV',
      tags: ['react', 'uiux'],
      text: 'Stay productive using this fun pomodoro clock tool. This single-page app was created using React.js with an intuitive user experience in mind.'
    },
    { name: 'Drum Pad',
      url: 'https://codepen.io/mykolodon/full/wxBwVV',
      tags: ['react'],
      text: 'A basic drum machine made with React, and my first project coding UI controls from scratch. Hit the pad with your keyboard to make a wicked beat!'
    },
    { name: 'Mister Cocktail',
      url: 'https://mr-cocktail-mcli830.herokuapp.com/',
      tags: ['rails', 'sql', 'uiux'],
      text: 'Discover interesting cocktails, or create your own.'
    }.
    { name: 'Datamuse Interface',
      url: 'https://codepen.io/mykolodon/full/vMVEwp',
      tags: ['api', 'tool'],
      text: 'A simple interface to access the Datamuse API. Works kind of like a thesaurus, but with more options.'
    },
    { name: 'Calculator',
      url: 'https://codepen.io/mykolodon/full/yqevJv',
      tags: ['react', 'uiux', 'tool'],
      text: `It's a calculator. Click or type. Made with React with UX in mind.`
    }
  ]

section#portfolio.portfolio
  .portfolio__content
    .portfolio__sections
      +section-header('Portfolio', 'projects', 'selected')
      +section-header('Proficiency', 'proficiency')
    .portfolio__view
      #projects.portfolio__projects
        ul.portfolio__filters
          +filter('All', 'all', 'selected')
          +filter('React', 'react')
          +filter('Ruby/Rails', 'rails')
          +filter('Node/Express', 'node')
          +filter('SQL', 'sql')
          +filter('MongoDB', 'mongo')
          +filter('Firebase', 'firebase')
          +filter('API', 'api')
          +filter('D3', 'd3')
          +filter('socket.io', 'socket')
          +filter('UI/UX', 'uiux')
          +filter('Tools', 'tool')
        .portfolio__list
          +project('Llama', 'http://llamareads.me/', ['react', 'firebase', 'uiux'])
          +project('PopUp Shop', 'http://baguette-popup-shop.herokuapp.com/', ['rails', 'sql', 'uiux'])
          +project('Fruitbowl', 'https://fruitbowl.glitch.me/', ['node', 'mongo', 'uiux', 'socket'])
          +project('Phrase Generator', 'https://sunny-space.glitch.me/', ['node', 'api'])
          +project('Pomodoro', 'https://codepen.io/mykolodon/full/ajBBLV', ['react', 'uiux'])
          +project('Drum Pad', 'https://codepen.io/mykolodon/full/wxBwVV', ['react'])
          +project('Mister Cocktail', 'https://mr-cocktail-mcli830.herokuapp.com/', ['rails', 'sql', 'uiux'])
          +project('Datamuse Interface', 'https://codepen.io/mykolodon/full/vMVEwp', ['api', 'tool'])
          +project('Calculator', 'https://codepen.io/mykolodon/full/yqevJv', ['react', 'tool'])
          +project('Weather App', 'https://codepen.io/mykolodon/full/pVQYqv', ['uiux', 'api'])
          +project('Color Blocks', 'https://codepen.io/mykolodon/full/MXxEyq', ['react', 'uiux'])
          +project('D3 Choropleth', 'https://codepen.io/mykolodon/full/bjammp', ['d3'])
          +project('D3 Treemap', 'https://codepen.io/mykolodon/full/BPVOVp', ['d3'])
          +project('Goji Devkit', 'https://www.npmjs.com/package/goji-devkit', ['node', 'tool'])
      #proficiency.portfolio__profs.hide
        #langs.profs__category
          h4 Languages
          ul.profs__list
            +prof('HTML', 80, 'blue')
            +prof('CSS', 80, 'blue')
            +prof('JavaScript', 90, 'blue')
            +prof('Ruby/Rails', 70, 'blue')
            +prof('SQL', 60, 'blue')
            +prof('Java', 30, 'blue')
            +prof('Python', 10, 'blue')
            +prof('Linux/Bash', 60, 'blue')
        #tools.profs__category
          h4 Tools
          ul.profs__list
            +prof('Node', 90, 'green')
            +prof('Express', 80, 'green')
            +prof('React', 70, 'green')
            +prof('Redux', 70, 'green')
            +prof('Pug', 90, 'green')
            +prof('Sass', 90, 'green')
            +prof('Bootstrap', 70, 'green')
            +prof('Material UI', 50, 'green')
            +prof('D3', 60, 'green')
            +prof('MongoDB', 70, 'green')
            +prof('socket.io', 40, 'green')
            +prof('Webkit', 60, 'green')
            +prof('Gulp', 70, 'green')
        #skills.profs__category
          h4 Skills
          ul.profs__list
            +prof('Front End', 80, 'red')
            +prof('UI/UX', 80, 'red')
            +prof('Back End', 70, 'red')
            +prof('OOP', 70, 'red')
            +prof('REST', 70, 'red')
            +prof('Testing', 50, 'red')
            +prof('Debugging', 50, 'red')
  .overlay
