mixin section-header(display, section, addclass)
  h1.portfolio__header(class=addclass data-section=section)
    .overlay--base
    .overlay--select
    .span= display

mixin filter(name, addclass)
  li.filter(class=addclass data-tag=name)
    .overlay
    span= name

mixin project(obj)
  - var tagStr = obj.tags.join(' ')
  - var dataId = obj.name.replace(/\s/g, '_').toLowerCase()
  - var src = `assets/projects/${dataId}.jpg`
  li.project(id=dataId data-tags=tagStr)
    .underlay
      h2= obj.name
      .text
        p= obj.text
        .footer
          .tags
            i.fas.fa-tags
            span= obj.tags.join(' - ')
          a.button--pri(href=obj.url target='_blank' title=obj.url)
            i.fas.fa-globe-americas
            span Visit
    a.project__img(href=obj.url target='_blank')
      img(src=src alt=obj.name)
    .overlay
      
-
  var gradient = {
    blue: ['#2196F3','#298CEC','#3182E6','#3877DF','#406DD8','#4863D2','#5059CB','#574EC4','#5F44BE','#673AB7'],
    green: ['#4CAF50','#44A647','#3B9D3E','#339335','#2A8A2C','#228124','#19781B','#116E12','#086509','#005C00'],
    red: ['#FF5722','#EE4D1E','#DD441A','#CC3A17','#BB3013','#A9270F','#981D0B','#871308','#760A04','#650000']
  }
  
mixin prof(name, level, color)
  - var width = "width:" + level + "%;"
  - var bg = `background:linear-gradient(90deg, ${gradient[color][0]}, ${gradient[color][(level / 10) - 1]});`
  - var barStyle = width + bg
  - var valStyle = `color:${gradient[color][0]};;`
  li.prof
    .prof__name
      h3= name
      span(style=valStyle)= level
    figure.prof__level
      .bar(data-level=level style=barStyle)
        if level > 10
          span= level

-
  var projects = [
    { name: 'Llama',
      url: 'http://llamareads.me/',
      tags: ['React', 'Firebase', 'UI/UX'],
      text: `Fun, UI-focused book-sharing app with UI effects built from scratch. Developed as a final project for Le Wagon in 2 weeks.`
    },
    { name: 'PopUp Shop',
      url: 'http://baguette-popup-shop.herokuapp.com/',
      tags: ['Ruby/Rails', 'SQL', 'UI/UX'],
      text: `AirBnb-style digital marketplace aimed to connect artists to local store-owners that have the space and means to sell the artist's work. Developed as a final project for Le Wagon in 1 week.`
    },
    { name: 'Fruitbowl',
      url: 'https://fruitbowl.glitch.me/',
      tags: ['Node/Express', 'MongoDB', 'UI/UX', 'socket.io'],
      text: 'Light-heartedly themed instant messaging app. A personal study project exploring socket.io functionality and the depth of UX design needed for a good messaging app experience.'
    },
    { name: 'Phrase Generator',
      url: 'https://sunny-space.glitch.me/',
      tags: ['Node/Express', 'API'],
      text: 'Quickly generate your own fun and unique word combinations. Inspired by URL name generation techniques used by sites like Glitch and gfycat. Built with Datamuse API'
    },
    { name: 'Pomodoro Clock',
      url: 'https://codepen.io/mykolodon/full/ajBBLV',
      tags: ['React', 'UI/UX'],
      text: 'Stay productive using this fun pomodoro clock tool. Created using React.js with an intuitive user experience in mind.'
    },
    { name: 'Drum Pad',
      url: 'https://codepen.io/mykolodon/full/wxBwVV',
      tags: ['React'],
      text: 'Basic drum machine made with React. UI controls coded from scratch. Hit the pad with your keyboard to make a wicked beat!'
    },
    // { name: 'Mister Cocktail',
    //   url: 'https://mr-cocktail-mcli830.herokuapp.com/',
    //   tags: ['Ruby/Rails', 'SQL', 'UI/UX'],
    //   text: 'Discover interesting cocktails, or create your own.'
    // },
    { name: 'Datamuse Interface',
      url: 'https://codepen.io/mykolodon/full/vMVEwp',
      tags: ['API', 'Tools'],
      text: 'Bare-bones interface to access the Datamuse API. Works kind of like a thesaurus, but with more unique search queries.'
    },
    { name: 'Calculator',
      url: 'https://codepen.io/mykolodon/full/yqevJv',
      tags: ['React', 'UI/UX', 'Tools'],
      text: `It's a calculator. Click or type.`
    },
    { name: 'Weather Widget',
      url: 'https://codepen.io/mykolodon/full/pVQYqv',
      tags: ['UI/UX', 'API'],
      text: `Simple weather app using the geolocation API.`
    },
    { name: 'Color Blocks',
      url: 'https://codepen.io/mykolodon/full/MXxEyq',
      tags: ['React'],
      text: `A pointless game utilizing React lifecycle functions.`
    },
    { name: 'Goji Devkit',
    url: 'https://www.npmjs.com/package/goji-devkit',
    tags: ['Node/Express', 'Tools'],
    text: `An npm package that I published of web development tools that I developed from scratch. Includes useful front-end functions and web components. Work in progress.`
    },
    { name: 'D3 Choropleth',
      url: 'https://codepen.io/mykolodon/full/bjammp',
      tags: ['D3'],
      text: `Interactive data visualization project. Mouseover or click on the percent bar to filter data.`
    },
    { name: 'D3 Treemap',
      url: 'https://codepen.io/mykolodon/full/BPVOVp',
      tags: ['D3'],
      text: `Interactive data visualization project. Click on a section to zoom in the view box.`
    },
    { name: 'D3 Bar Chart',
      url: 'https://codepen.io/mykolodon/full/QBvGLx',
      tags: ['D3'],
      text: `Interactive data visualization project. Mouseover data points for details.`
    },
    { name: 'D3 Scatterplot',
      url: 'https://codepen.io/mykolodon/full/YjxNEY',
      tags: ['D3'],
      text: `Interactive data visualization project. Mouseover data points for details.`
    },
    { name: 'D3 Heatmap',
    url: 'https://codepen.io/mykolodon/full/Zjaamd',
    tags: ['D3'],
    text: `Interactive data visualization project. Mouseover data points for details.`
    },
  ]


section#portfolio.portfolio
  .portfolio__content
    .portfolio__sections
      +section-header('Portfolio', 'projects', 'selected')
      +section-header('Proficiency', 'proficiency')
    .portfolio__view
      #projects.portfolio__projects
        ul.portfolio__filters
          +filter('All', 'selected')
          +filter('React')
          +filter('Ruby/Rails')
          +filter('Node/Express')
          +filter('SQL')
          +filter('MongoDB')
          +filter('Firebase')
          +filter('API')
          +filter('D3')
          +filter('socket.io')
          +filter('UI/UX')
          +filter('Tools')
        ul.portfolio__list
          each p in projects
            +project(p)
      #proficiency.portfolio__profs.hide
        #langs.profs__category
          h4 Languages
          ul.profs__list
            +prof('HTML', 80, 'blue')
            +prof('CSS', 80, 'blue')
            +prof('JavaScript', 90, 'blue')
            +prof('Ruby/Rails', 70, 'blue')
            +prof('SQL', 60, 'blue')
            +prof('Java', 30, 'blue')
            +prof('Python', 10, 'blue')
            +prof('Linux/Bash', 60, 'blue')
        #tools.profs__category
          h4 Tools
          ul.profs__list
            +prof('Node', 90, 'green')
            +prof('Express', 80, 'green')
            +prof('JQuery', 80, 'green')
            +prof('React', 70, 'green')
            +prof('Redux', 70, 'green')
            +prof('Pug', 90, 'green')
            +prof('Sass', 90, 'green')
            +prof('Bootstrap', 70, 'green')
            +prof('Material UI', 50, 'green')
            +prof('D3', 60, 'green')
            +prof('MongoDB', 70, 'green')
            +prof('socket.io', 40, 'green')
            +prof('Webpack', 60, 'green')
            +prof('Gulp', 70, 'green')
        #skills.profs__category
          h4 Skills
          ul.profs__list
            +prof('Front End', 80, 'red')
            +prof('UI/UX Design', 80, 'red')
            +prof('Responsive', 80, 'red')
            +prof('AJAX', 80, 'red')
            +prof('Back End', 70, 'red')
            +prof('API', 70, 'red')
            +prof('OOP', 70, 'red')
            +prof('Algorithms', 70, 'red')
            +prof('Debugging', 50, 'red')
  .overlay
